<p>Public response:</p>
<p>{{publicRole}}</p>
<p>User response:</p>
<p>{{userRole}}</p>
<p>Admin response:</p>
<p>{{adminRole}}</p>
<p>Admin page:</p>
<div
[innerHTML]=adminButton></div>
<!--<mat-grid-list>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>-->
<!--<p>{{playerCards}}</p>-->

<!--<div>
    <div class="container-fluid">
        &lt;!&ndash;<app-font-size-variable></app-font-size-variable>&ndash;&gt;
        <app-card
                *ngFor="let card of playerCards"
                [card]="card"
        >

        </app-card>
        &lt;!&ndash;<app-popup-img
            [hidden]="showPopup"
        [popupCard]="popupCard"></app-popup-img>&ndash;&gt;
    </div>
</div>-->

<app-deck
[cardList]="playerCards">

</app-deck>