<div
    class="container">
<div
class="upgrade-page">
    <div style="width: 100%">
        <app-card
        [playerCard]=selectedCard></app-card>
    </div>
    <div>
        <div>
            <button>Engine</button>
        </div>
        <div>
            <button>Chassis</button>
        </div>
        <div>
            <button>Cornering</button>
        </div>
    </div>
    <div><button>Do it</button></div>
        <div>
        <button
        (click)=goToHome()>Home</button>
    </div>
<span>ez egy sor</span>
</div>
</div>