<div
    class="container">
<div
class="upgrade-page">
    <div>
        <app-card
        [playerCard]=selectedCard></app-card>
    </div>
    <div class="container" style="display: inline-flex">
        <div>
            <button (click)="calculateTuningField('engine')">Engine</button>
        </div>
        <div>
            <button (click)="calculateTuningField('chassis')">Chassis</button>
        </div>
        <div>
            <button (click)="calculateTuningField('cornering')">Cornering</button>
        </div>
    </div>
    <div><button>Do it</button></div>
        <div>
        <button
        (click)=goToHome()>Home</button>
    </div>
    <table class="table table-striped back-table">
        <tbody>
        <tr *ngFor="let field of calculatedFields">
            <th scope="row" [innerHTML]=field.name></th>
            <td>
                <input id="input_{{field.identifier}}"
                [value]="field.baseValue">
            </td>
            <td>-></td>
            <td>
                <input id="input_{{field.identifier}}_playerCard"
                [value]="field.calculatedValue">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>