<div class='container '
>
    <div class='flip_box '
         id="card_{{playerCard.id}}"

    >
        <div class='front'>
            <div
                    class="img-container"
            >
                <img
                        class="img-car"
                        [style.width]=playerCard.baseCard.objectWidth
                        [style.height]=playerCard.baseCard.objectHeight
                        [style.object-position]="playerCard.baseCard.objectPositionHorizontal + ' ' + playerCard.baseCard.objectPositionVertical"
                        [src]=playerCard.baseCard.imageUrl
                />
            </div>
            <div>
                <div></div>
                <div class="resize"
                     style="white-space: nowrap;"
                     [id]="cssEscape('#card_' + playerCard.id)"
                     [innerHTML]="playerCard.baseCard.id">{{ playerCard.baseCard.id }}</div>
                <!--<div class="resize" [ngStyle]="{ 'width.px': 300, 'white-space': 'nowrap' }">
                    {{ playerCard.baseCard.id }}
                </div>-->


                <div class="manufacturer-name"
                     style="white-space: nowrap;"
                     id="manufacturer-type"
                     [innerHTML]="playerCard.baseCard.type"></div>
            </div>
            <table class="front-table"
                   style="border: #86b7fe solid 2px">
                <tr>
                    <td class="front-cell" style="width: 50%">
                        <span style="text-align: left; width: 50%; display: inline-block">0-100:</span>
                        <span style="text-align: center; width: 50%; display: inline-block">{{playerCard.acceleration}}</span>
                    </td>
                    <td class="front-cell" style="width: 50%">
                        <span style="text-align: left; width: 50%; display: inline-block">Weight:</span>
                        <span style="text-align: center; width: 50%; display: inline-block">{{playerCard.weight}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="front-cell" style="width: 50%">
                        <span style="text-align: left; width: 50%; display: inline-block">Speed:</span>
                        <span style="text-align: center; width: 50%; display: inline-block">{{playerCard.topSpeed}}</span>
                    </td>
                    <td class="front-cell" style="width: 50%">
                        <span style="text-align: left; width: 50%; display: inline-block">HP:</span>
                        <span style="text-align: center; width: 50%; display: inline-block">{{playerCard.powerHP}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="front-cell" style="width: 50%">
                        <span style="text-align: left; width: 50%; display: inline-block">Cornering:</span>
                        <span style="text-align: center; width: 50%; display: inline-block">{{playerCard.cornering}}</span>
                    </td>
                    <td class="front-cell" style="width: 50%">
                        <span style="text-align: left; width: 50%; display: inline-block">Weight:</span>
                        <span style="text-align: center; width: 50%; display: inline-block">{{playerCard.weight}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class='back'>
            <div class="container-fluid">
                <ul class="nav nav-tabs nav-fill nav-justified" id="back-tabs_{{playerCard.id}}">
                    <li
                            class="nav-item">
                        <a class="nav-link active" [href]="cssEscape('#i_' + playerCard.id)" data-bs-toggle="tab">I</a>
                    </li>
                    <li
                            class="nav-item">
                        <a class="nav-link" [href]="cssEscape('#ii_' + playerCard.id)" data-bs-toggle="tab">II</a>
                    </li>
                    <li
                            class="nav-item">
                        <a class="nav-link" [href]="cssEscape('#iii_' + playerCard.id)" data-bs-toggle="tab">III</a>
                    </li>
                    <li
                            class="nav-item">
                        <a class="nav-link" [href]="cssEscape('#iv_' + playerCard.id)" data-bs-toggle="tab">IV</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content container-fluid" id="back-tabs-content">
                <div
                        class="tab-pane active"
                        id="i_{{playerCard.id}}">
                    <table class="table table-striped back-table"
                           style="height: 100%">
                        <tbody>
                        <tr *ngFor="let data of iTabDatas()">
                            <th scope="row" [innerHTML]=data></th>
                            <td>{{data}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="ii_{{playerCard.id}}">
                    <table class="table table-striped back-table"
                           style="height: 100%">
                        <tbody>
                        <tr *ngFor="let data of iiTabDatas()">
                            <th scope="row" [innerHTML]=data></th>
                            <td>{{data}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="iii_{{playerCard.id}}">
                    <table class="table table-striped back-table"
                           style="height: 100%">
                        <tbody>
                        <tr *ngFor="let data of iiiTabDatas()">
                            <th scope="row" [innerHTML]=data></th>
                            <td>{{data}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="iv_{{playerCard.id}}">
                    <table class="table table-striped back-table"
                           style="height: 100%">
                        <tbody>
                        <tr *ngFor="let data of ivTabDatas()">
                            <th scope="row" [innerHTML]=data></th>
                            <td>{{data}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class='r_wrap' [class.disabled]="isDisabled">
        <div class='b_round'></div>
        <div class='s_round' id="flip_button_{{playerCard.id}}"
             (click)=flipCard()>
            <div class='s_arrow'></div>
        </div>
    </div>
</div>
