<div class='container '>
    <div class='flip_box' id="card_{{playerCard.id}}">
        <div class='front'>
            <div class="img-container">
                <img
                    class="img-car"
                    [style.width]=playerCard.baseCard.objectWidth
                    [style.height]=playerCard.baseCard.objectHeight
                    [style.object-position]="playerCard.baseCard.objectPositionHorizontal + ' ' + playerCard.baseCard.objectPositionVertical"
                    [src]=playerCard.baseCard.imageUrl
                />
            </div>
            <div>
                <div class="manufacturer manufacturer-name resize"
                     [id]="cssEscape('#card_' + playerCard.id)"
                     [innerHTML]="playerCard.baseCard.manufacturer">
                </div>
                <div class="manufacturer manufacturer-type resize"
                     [innerHTML]="playerCard.baseCard.type"
                     id="manufacturer-type">
                </div>
            </div>
            <table class="front-table">
                <tr>
                    <td class="front-cell">
                        <span>0-100:</span>
                        <span>{{playerCard.acceleration}} s.</span>
                    </td>
                    <td class="front-cell">
                        <span>Drive:</span>
                        <span>{{playerCard.baseCard.driveWheel}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="front-cell">
                        <span>Speed:</span>
                        <span>{{playerCard.topSpeed}}</span>
                    </td>
                    <td class="front-cell">
                        <span>HP:</span>
                        <span>{{playerCard.powerHP}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="front-cell">
                        <span>Cornering:</span>
                        <span>{{playerCard.cornering}}</span>
                    </td>
                    <td class="front-cell">
                        <span>Weight:</span>
                        <span>{{playerCard.weight}} kg</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class='back'>
            <div class="container-fluid">
                <ul class="nav nav-tabs nav-fill nav-justified" id="back-tabs_{{playerCard.id}}">
                    <li class="nav-item" *ngFor="let tab of getAllTabs(); let i = index">
                        <a class="nav-link"
                           style="align-text: center;
                           justify-content: center;
                           align-items: center;
                           margin-left: auto;
                           margin-right: auto;"
                           id="nav-link_{{i + 1}}_{{playerCard.id}}"
                           [class.active]="i === 0"
                           [href]="cssEscape('#tab-pane_' + (i + 1) + '_' + playerCard.id)"
                           data-bs-toggle="tab"
                        [innerHTML]="i + 1"></a>
                    </li>
                </ul>
            </div>
            <div class="tab-content container-fluid" id="back-tabs-content"
                >
                <div class="tab-pane"
                     [class.active]="i === 0"
                     *ngFor="let tab of getAllTabs(); let i = index;"
                     id="tab-pane_{{i + 1}}_{{playerCard.id}}">
                    <table class="table table-striped back-table">
                        <tbody>
                        <tr *ngFor="let data of tab">
                            <th scope="row" [innerHTML]=data.name></th>
                            <td>{{data.value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class='r_wrap' [class.disabled]="isDisabled">
        <div class='b_round'></div>
        <div class='s_round' id="flip_button_{{playerCard.id}}" (click)=flipCard()>
            <div class='s_arrow'></div>
        </div>
    </div>
</div>
