<div class='container'>
    <div class='flip_box'>
        <div class='front'>
            <div
                    class="img-container">
                <img
                        class="img-car"
                        [style.width]=baseCard.objectWidth
                        [style.height]=baseCard.objectHeight
                        [style.object-position]="baseCard.objectPositionHorizontal + ' ' + baseCard.objectPositionVertical"
                        [src]=baseCard.imageUrl
                />
            </div>
        </div>
        <div class='back'>
            <h1 class='b_headline'>Absolute safety</h1>
            <button class='b_button'><span>Buy now</span></button>
        </div>
    </div>
    <div class='r_wrap'>
        <div class='b_round'></div>
        <div class='s_round'>
            <div class='s_arrow'></div>
        </div>
    </div>
</div>
