
#homeButton {
    background-image: url("src/assets/img/menus/home.png");
    background-size: 100%;
    width: 2rem;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    height: 3em;
    grid-template-columns: repeat(5, 1fr);
}

.grid-item {
    background-color: #eaeaea;
    display: flex;
    height: 100%;
    background-size: cover;
}