<div>
        <span>Opponent hand</span>
    <div class="drop-places">
        <div [id]="'pairedDropZone1'"
             class="dropzone">
            <img [src]="opponentCard1.baseCard.imageUrl">
            <p>Drag 400m</p>
        </div>
        <div [id]="'pairedDropZone1'"
             class="dropzone">
            <img [src]="opponentCard2.baseCard.imageUrl">
            <p>Drag 400m</p>
        </div>
        <div [id]="'pairedDropZone1'"
             class="dropzone">
            <img [src]="opponentCard3.baseCard.imageUrl">
            <p>Drag 400m</p>
        </div>
        <div [id]="'pairedDropZone1'"
             class="dropzone">
            <img [src]="opponentCard4.baseCard.imageUrl">
            <p>Drag 400m</p>
        </div>
        <div [id]="'pairedDropZone1'"
             class="dropzone">
            <img [src]="opponentCard5.baseCard.imageUrl">
            <p>Drag 400m</p>
        </div>
    </div>
</div>