<div cdkDropListGroup
        class="choose-container">
    <app-garage
            class="choose-garage"
    ></app-garage>
    <app-drop-places
            class="choose-drop-places"></app-drop-places>
    <div class="choose-buttons">
        <button
                (click)=backToRounds()>Back to rounds
        </button>
        <button
                (click)=rechooseCards()>Rechoose cards
        </button>
        <button
                (click)="gotoPairing()">Go to pairing
        </button>
    </div>
</div>