<div
cdkDropListGroup>
    <!--<div class="container">
        <div class="row">
            <h2 style="text-align: center">Movies</h2>-->
            <!--<div  cdkDropList #allmovies="cdkDropList" [cdkDropListData]="nestedArray" [cdkDropListConnectedTo]="[towatch1, towatch2, towatch3, towatch4, towatch5]"
                  (cdkDropListDropped)="onDrop($event)"
            class="dropzone">
                <app-card *ngFor="let movie of nestedArray" [playerCard]="movie" cdkDrag></app-card>
            </div>-->
            <app-garage


                    ></app-garage>
            <!--<app-garage></app-garage>-->
        <!--</div>
    </div>-->
    <!--<div class="container">
        <div class="row">
            <h2 style="text-align: center">Movies to watch</h2>-->
    <div class="drop-places">
            <div
                    cdkDropList
                    #towatch1="cdkDropList"
                    [id]="'towatch1'"
                    [cdkDropListData]="selectedCard1"
                    [cdkDropListConnectedTo]="'playerCardList'"
                 (cdkDropListDropped)="onDrop($event)"
                 class="dropzone">
                <!--<div *cdkDragPlaceholder></div>-->
                <!--<app-card *ngFor="let movie of idList" [playerCard]="movie" cdkDrag></app-card>-->
                <img  [src]="selectedCard1[0].baseCard.imageUrl" cdkDrag>
            </div>
    <div cdkDropList #towatch2="cdkDropList" [id]="'towatch2'" [cdkDropListData]="selectedCard2" [cdkDropListConnectedTo]="'playerCardList'"
         (cdkDropListDropped)="onDrop($event)"
         class="dropzone">
        <!--<div *cdkDragPlaceholder></div>-->
        <!--<app-card *ngFor="let movie of idList" [playerCard]="movie" cdkDrag></app-card>-->
        <img  [src]="selectedCard2[0].baseCard.imageUrl" cdkDrag>
    </div>
    <div cdkDropList #towatch3="cdkDropList" [id]="'towatch3'" [cdkDropListData]="selectedCard3" [cdkDropListConnectedTo]="'playerCardList'"
         (cdkDropListDropped)="onDrop($event)"
         class="dropzone">
        <!--<div *cdkDragPlaceholder></div>-->
        <!--<app-card *ngFor="let movie of idList" [playerCard]="movie" cdkDrag></app-card>-->
        <img  [src]="selectedCard3[0].baseCard.imageUrl" cdkDrag>
    </div>
    <div cdkDropList #towatch4="cdkDropList" [id]="'towatch4'" [cdkDropListData]="selectedCard4" [cdkDropListConnectedTo]="'playerCardList'"
         (cdkDropListDropped)="onDrop($event)"
         class="dropzone">
        <!--<div *cdkDragPlaceholder></div>-->
        <!--<app-card *ngFor="let movie of idList" [playerCard]="movie" cdkDrag></app-card>-->
        <img  [src]="selectedCard4[0].baseCard.imageUrl" cdkDrag>
    </div>
    <div cdkDropList #towatch5="cdkDropList" [id]="'towatch5'" [cdkDropListData]="selectedCard5" [cdkDropListConnectedTo]="'playerCardList'"
         (cdkDropListDropped)="onDrop($event)"
         class="dropzone">
        <!--<div *cdkDragPlaceholder></div>-->
        <!--<app-card *ngFor="let movie of idList" [playerCard]="movie" cdkDrag></app-card>-->
        <img  [src]="selectedCard5[0].baseCard.imageUrl" cdkDrag>
    </div>
        <!--</div>
    </div>-->
</div>
        <div class="choose-buttons">
            <button
            (click)=rechooseCards()>Rechoose cards</button>
            <button>Go to races</button>
        </div>
</div>