<div class="input-group row "
     id="block-card-attributes"
     *ngFor="let cardProperty of getObjectEntries(baseCard)"
>
    <label for="card_attribute_{{cardProperty[0]}}"
           [innerHTML]='cardProperty[0]'>

    </label>
    <input
            class="card-attribute-group"
            type="text"
            id="card_attribute_{{cardProperty[0]}}"
            [attr.data-card_attribute]=cardProperty[0]
            [innerHTML]="cardProperty[1]"
            [value]="cardProperty[1]"
    >
</div>
