<mat-grid-list
        cols="4"
        [rowHeight]="'20:17.5'"
        [gutterSize]="'0.1rem'">
    <mat-grid-tile
            class="text"

            [colspan]=1
            [rowspan]=1
            [ngStyle]="{'background-image':'url(../../assets/img/menus/daily-race.jpg)',
                'background-size': 'cover'
                }"
            (click)="toFightTable()"
    >
        <!--<img src="assets/aston-martin-vantage_79941.webp" fxFlexFill
             -->
        Daily race
    </mat-grid-tile>
</mat-grid-list>