<app-search-and-filter-bar
        class="grid-container-filter-bar"
></app-search-and-filter-bar>
<div class="grid-container"
     (wheel)="onWheel($event)"
     cdkDropList
     #playerCardList="cdkDropList"
     [id]="'playerCardList'"
     [cdkDropListData]="playerCards"
     cdkDropListSortingDisabled

     [cdkDropListConnectedTo]="['dropZone1', 'dropZone2', 'dropZone3', 'dropZone4', 'dropZone5']"
>
    <app-card
        cdkDrag
        *ngFor="let playerCard of playerCards"
        [playerCard]="playerCard"
        [cdkDragData]="playerCard"
        (cdkDragStarted)="onDragStarted(playerCard)"
        [cdkDragDisabled]="disableDrag"

    >
        <img *cdkDragPreview [src]="playerCard.baseCard.imageUrl" [alt]="playerCard.baseCard.id">
    </app-card>
</div>