* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: gray;
}

html,
body {

    min-height: 100%;
    width: 100%;
    margin: 0;
    place-items: center;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

::selection {
    color: #fff;
    background: #1cc7d0;
}

ngb-pagination {
    max-height: 100%;
}

.grid-container {
    overflow-y: hidden;
    display: grid;
    grid-gap: 0px;
    padding: 0px;
    height: calc(100% - 30%); /* Subtracting the header and footer height */
    grid-template-rows: auto auto;
    grid-auto-flow: column;
}

.my-pagination {
    background-color: white;
    justify-content: center;
}

.pagination-button {
    padding: 0 5px;
    margin: 2px 5px;
}

.pagination-page {
    background-color: slateblue;
    color: black;
    padding: 0 5px;
}

.pagination-active-page {
    background-color: #6610f2;
    color: white;
    padding: 0 5px;
}

.grid-container-filter-bar {
    display: grid;
    grid-gap: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    height: 3em;
    grid-template-columns: repeat(5, 1fr);
}

.cdk-virtual-scroll-data-source-example .viewport {
    height: 650px;
    width: 1200px;
    border: 1px solid black;
}

.viewport .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
}

.cdk-virtual-scroll-data-source-example .example-item {
    width: 310px;
    height: 100%;
}
