.grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    height: 1012px; /* Subtracting the header and footer height */
    width: 1800px;
    /*grid-template-columns: repeat(auto-fit, minmax(calc(33% - 10px), 1fr));*/
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    background-color: #eaeaea;
    display: block;
    height: 100%;
    background-size: cover;
}

.grid-item h2 {
    position: relative; /* Add position absolute */
    bottom: 0; /* Align content to the bottom */
    right: 0; /* Align content to the right */
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.races {
    background-image: url("src/assets/img/menus/daily-race.jpg");
}

.garage {
    background-image: url("src/assets/img/menus/mygarage.webp");
}

.shop {
    background-image: url("src/assets/img/menus/shop.webp");
}

.challenges {
    background-image: url("src/assets/img/menus/challenges.webp");
}



#container {
    display: inline-block;
    background-color: green;
    padding: 0.5vw 1vw;
}
.divtext {
    display: table;
    color: white;
    font-family: impact;
    font-size: 4.2vw;
}

.no-resize, .resize {
    width: 140px;
    height: 100px;
    border: 1px solid #000;
    color: #000;
    float: left;
    margin-left: 10px;
    font-size: 30px

}