<button
        routerLink="challenge">go to challenge
</button>
<div cdkDropListGroup>
    <div class="drop-places">
        <div
                cdkDropList
                #pairedDropZone1="cdkDropList"
                [id]="'pairedDropZone1'"
                [cdkDropListData]="pairedCard1"

                (cdkDropListDropped)="onDrop($event)"
                class="dropzone">
            <!--<div *cdkDragPlaceholder></div>-->
            <!--<app-card *ngFor="let movie of idList" [playerCard]="movie" cdkDrag></app-card>-->
            <img [src]="pairedCard1[0].baseCard.imageUrl" cdkDrag>
        </div>
        <div cdkDropList #pairedDropZone2="cdkDropList" [id]="'pairedDropZone2'" [cdkDropListData]="pairedCard2"
             [cdkDropListConnectedTo]="'playerCardList'"
             (cdkDropListDropped)="onDrop($event)"
             class="dropzone">
            <!--<div *cdkDragPlaceholder></div>-->
            <!--<app-card *ngFor="let movie of idList" [playerCard]="movie" cdkDrag></app-card>-->
            <img [src]="pairedCard2[0].baseCard.imageUrl" cdkDrag>
        </div>
        <div cdkDropList #pairedDropZone3="cdkDropList" [id]="'pairedDropZone3'" [cdkDropListData]="pairedCard3"
             [cdkDropListConnectedTo]="'playerCardList'"
             (cdkDropListDropped)="onDrop($event)"
             class="dropzone">
            <!--<div *cdkDragPlaceholder></div>-->
            <!--<app-card *ngFor="let movie of idList" [playerCard]="movie" cdkDrag></app-card>-->
            <img [src]="pairedCard3[0].baseCard.imageUrl" cdkDrag>
        </div>
        <div cdkDropList #pairedDropZone4="cdkDropList" [id]="'pairedDropZone4'" [cdkDropListData]="pairedCard4"
             [cdkDropListConnectedTo]="'playerCardList'"
             (cdkDropListDropped)="onDrop($event)"
             class="dropzone">
            <!--<div *cdkDragPlaceholder></div>-->
            <!--<app-card *ngFor="let movie of idList" [playerCard]="movie" cdkDrag></app-card>-->
            <img [src]="pairedCard4[0].baseCard.imageUrl" cdkDrag>
        </div>
        <div cdkDropList #pairedDropZone5="cdkDropList" [id]="'pairedDropZone5'" [cdkDropListData]="pairedCard5"
             [cdkDropListConnectedTo]="'playerCardList'"
             (cdkDropListDropped)="onDrop($event)"
             class="dropzone">
            <!--<div *cdkDragPlaceholder></div>-->
            <!--<app-card *ngFor="let movie of idList" [playerCard]="movie" cdkDrag></app-card>-->
            <img [src]="pairedCard5[0].baseCard.imageUrl" cdkDrag>
        </div>
        <!--</div>
    </div>-->
    </div>

    <app-drop-places></app-drop-places>
</div>
<button
(click)="pairCards()">Go to race</button>