<div
>
    <!--<div class="container-fluid">-->
    <!--<app-font-size-variable></app-font-size-variable>-->
    <app-card
            *ngFor="let card of cardList | paginate : {
                itemsPerPage: itemsPerPage,
                  currentPage: page,
                  totalItems: count
};"

            [card]="card"
    >

    </app-card>
    <!--<app-popup-img
        [hidden]="showPopup"
    [popupCard]="popupCard"></app-popup-img>-->
    <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onDataChange($event)"
    >
    </pagination-controls>
    <!--</div>-->
</div>
