
<div class="grid-container">
    <!--ide majd for kell, de csak 6db, mert ami done, az eltűnik, lép 1et előre-->
    <div class="grid-item" id="ch-2023-1" [routerLink]="['../choose-cards']"><h2>2023 #1</h2></div>
    <div class="grid-item" id="ch-2023-2"><h2>2023 #1</h2></div>
    <div class="grid-item" id="ch-2023-3"><h2>2023 #1</h2></div>
    <div class="grid-item" id="ch-2023-4"><h2>2023 #1</h2></div>
    <div class="grid-item" id="ch-2023-5"><h2>2023 #1</h2></div>
    <div class="grid-item" id="ch-2023-6"><h2>2023 #1</h2></div>

</div>